
   
   body{
    background-color:aliceblue;
   }
    *{
        margin: 0;
        padding: 0;
     
    }

    h1 {
        font-size: x-large;
    }

    p {
        font-size: 1.80rem;
        padding:1rem;
    }
      
   .container { 
                color:white;
                font-family:segoe UI; 
            }







        
  
  


           
    
  